@charset "UTF-8";

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
}

.effect-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;

  background-color: rgba(255, 255, 255, 0.5);
  // background-color: rgba(255, 253, 240, 1.0);
  // mix-blend-mode: overlay;
  // filter: 
  //   brightness(0.7) /* 明るさ */ 
  //   // contrast(0.9) /* コントラスト */
  //   // saturate(0.8) /* 彩度 */ 
  //   // sepia(0.1) /* セピア効果 */ 
  //   // blur(0.5px); /* ぼかし効果 */
}

.vignette-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.7) 120%
  );
  pointer-events: none;
  z-index: 3; // videoとeffect-overlayの上、contentの下に配置
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 4;
}

.title img {
  width: 928.73px; /* タイトル画像の幅 */
  height: auto; /* 高さを自動調整してアスペクト比を維持 */
  margin-bottom: 20px;
}

.subtitle {
  margin-top: 35px; /* はじめるボタンからの相対的な距離 */
  font-family: "Meiryo UI";
  font-style: normal;
  // font-weight: 700;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #fd868c;
  -webkit-text-stroke: 0.5px #ffffff; /* テキストの白色ストローク */
}

.button {
  display: inline-block; /* inlineではなくinline-blockを使用 */
  width: 232px;
  height: 57px;
  background-color: #fd868c;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 32px;
  font-family: "KodomoRounded", Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 115px;
}

.button:hover {
  background-color: #ffa0a7;
}

.button:active {
  background-color: #d45d67;
}
